/* clean browser css */
a,span{
    text-decoration: none;
}

.win{
    background:rgb(244,247,237);
    font-family: "Helvetica Neue", Helvetica, Arial;
    overflow-y: scroll;
}
.header{
    width:960px;
    height:30px;
    margin:20px auto;
    line-height:30px;
}
.logo{
    font-size:20px;
    margin:0 40px 0 0;
}
.logo a{
     color:rgb(132, 160, 153);
     text-decoration: none;
     font-family: Bodoni, Verdana, Helvetica, Arial;
     font-weight:normal;
 }
.nav{
    float:left;
    list-style:none;
    margin:0 auto;
    padding:0;
}
.nav li{
    float:left;
}
.nav a{
    text-decoration:none;
    margin-right:30px;
    color:rgba(85,85,85,0.5);
}
.nav a:hover{
    color:#555;
}
.nav .active a{
    color:#555;
}
.command-bar{
    float:right;
}
.command-bar{
    color:rgb(132, 160, 153);
    font-family: Bodoni, Verdana, Helvetica, Arial;
    font-weight:normal;
}
.command-bar a{
    text-decoration: none;
    color:rgb(132, 160, 153);
}
.command-bar label{
    cursor:pointer;
}
.command-bar img{
    width:24px;
    border-radius:50%;
    box-shadow:0 1px 1px rgba(0,0,0,0.2);
    margin-top:3px;
}
.command-bar img:hover{
    box-shadow:0 3px 3px rgba(0,0,0,0.2);
}
.command-bar i.twr-search{
    font-size:25px;
    line-height: 33px;
}
.command-bar i.twr-bell-o{
    font-size:20px;
}
.notify{
    position: relative;
    display: inline;
}
.command-bar>a:last-child{
    margin-left:10px;
}
.command-bar .search{
    background:transparent;
    border: none;
    border-bottom:1px dotted #999;
    box-shadow:none;
    outline:none;
    position:relative;
    bottom:8px;
    font-size:14px;
    padding-bottom:3px;
    width:0;
    transition: width 150ms ease-in-out;
}
.command-bar .search:focus{
    width:120px;
}

.container{
    width:900px;
    background:white;
    border: 1px solid #dbdfd6 ;
    margin:0 auto;
    box-shadow:0 5px 15px rgba(0,0,0,0.05);
    padding:20px 30px;
    min-height: 600px;
}
.tools{
    overflow:hidden;
    margin-bottom:10px;
}
.tools>div{
    float:right;
}
.tools a{
    text-decoration: none;
    margin-left:8px;
    color:#ccc;
    font-size:14px;
    padding-right: 5px;
}
.tools a.active{
    color:#887;
}
.tools a.active:hover{
    color:#887;
}
.tools a:hover{
    color:#aaa;
}
.tools a:first-child{
    border-right:1px solid #eee;
    padding-right:8px;
    color:#4ea5ad;
}
.project-list{
    min-height: 600px;
    border-bottom:1px solid #eee;
    overflow:hidden;
    padding-bottom:20px;
}
.project-footer{
    margin-top:15px;
}
.project-footer a{
    text-decoration: none;
    margin-right:15px;
    color:#4ea5ad;
    font-size:14px;
}
.project-footer a:hover{
    color:#5bc4c7;
}
.project{
    display: block;
    float:left;
    width:223px;
    height:150px;
    border-radius:5px;
    border:1px solid transparent;
    cursor:pointer;
    text-align: center;
    position:relative;
}
.project .badge{
    display: block;
    height:60px;
    margin:15px auto 20px;
    line-height: 60px;
    font-family: "towericon";
    text-align: center;
    font-style:normal;
    font-size:85px;
}
.project:hover .edit-badge{
    display: block;
}
.project .edit-badge{
    background-image:url(../images/icon-info-4ea039f1811e550a0133eb475d91b3b6.png);
    width:15px;
    height:15px;
    position:absolute;
    top:10px;
    right: 10px;
    display: none;
}

.project .edit-badge:hover{
    opacity:0.8;
}
.project:hover{
    background:#f9f9f9;
    border-color:#eaeaea;
}
.footer{
    text-align:center;
    margin:20px 0;
    color:#aaaaaa;
    font-size:12px;
}
.footer a{
    color:#aaaaaa;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.feedback{
    position: fixed;
    left:-3px;
    top:175px;
    background:#6a8b82;
    text-align: center;
    border-radius:0 5px 5px 0;
    color:#fff;
    text-decoration: none;
    font-size:10px;
    line-height: 18px;
    width:1em;
    padding:35px 10px 10px 10px;
    vertical-align:baseline;
    transition: all 100ms ease-in-out;
}
.feedback:hover{
    left:0;
    background:#83a098;
}
.feedback i{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:26px;
    text-align:center;
    line-height:26px;
    border-bottom:1px solid #8DAFA5;
}

/* week-report */
.week-report{
    min-height:600px;
}
.week-report-header{
    position:relative;
    font-size:14px;
}
.week-report .user-selector{
    position: absolute;
    top:0;
    left:0;
}
.week-report .user-selector span{
    cursor:pointer;
}
.week-report .template-setting{
    position: absolute;
    top:0;
    right:0;
}
.week-report-header .filter{
    width:300px;
    margin:0 auto;
    text-align:center;
}
.week-report-header .title{
    font-size:26px;
    line-height:28px;
    font-weight:normal;
    margin:0;
    padding-top:10px;
}
.empty-text{
    text-align: center;
    display: none;
}
.week-report-content.empty .empty-text{
    display: block;
}
.week-report-content .empty-text{
    font-size:40px;
    color:#ccc;
    margin:100px 0;
}
.week-report-date{
    position: relative;
    margin-top:15px;
}
.week-report-date>a{
    position: absolute;
    top:5px;
    width:40px;
    height:40px;
    font-size:25px;
    line-height:40px;
    border-radius:50%;
    color:#fff;
    background:#ddd;
}
.week-report-date>a:hover{
    background:#84a099;
}
.week-report-date .left{
    left:0;
}
.week-report-date .right{
    right:0;
}
.week-report-date .week p{
    margin:8px auto;
}
.week-report-date .date{
    font-size:22px;
}
.week-report-date .range{
    font-size:14px;
    color:#999;
}
.week-report-header .template-setting{
    color:#4ea5ad;
    text-decoration: none;
}
.week-report-header .template-setting:hover{
    color:#5bc4c7;
}
.week-report-date .week{
    cursor:pointer;
}
.week-report-date .week:hover .date{
    color:#5bc4c7;
}
/* team-events */
.team-events .filter{
    font-size:14px;
}
.team-events .filter span{
    cursor:pointer;
    display: inline-block;
    width:150px;
    margin:0 25px;
}
.team-event-list .event-day{
    margin:60px 0 0 60px;
    position: relative;
}
.team-event-list .event-day-title{
    position: absolute;
    top:-30px;
    left:-60px;
    width:52px;
    height:52px;
    border:4px solid #d2e8ea;
    border-radius:50%;
    margin:0;
    color:#769bb3;
    line-height:52px;
    font-size:30px;
    text-align: center;
}
.team-event-list .event-ancestor{
    position: relative;
    border-top:1px solid #d2e8ea;
}
.team-event-list .event-ancestor-title{
    position: absolute;
    top:-8px;
    right:0;
    padding-left:10px;
    background:#fff;
    font-size:16px;
    color:#999;
    margin:0;
}
.team-event-list .event-ancestor-title a{
    color:#999;
    text-decoration: none;
}
.team-event-list .event-ancestor-title a:hover{
    color:#5bc4c7;
}
.event{
    margin:30px 0;
    overflow:hidden;
}
.event .event-main{
    float:left;
    margin:0;
    width:600px;
}
.event .avatar-link{
    margin-right:10px;
    float:left;
}
.event .avatar{
    width:50px;
    height:50px;
    border-radius:50%;
}
.event .create-time{
    float: left;
    width:50px;
    height:50px;
    line-height:50px;
    font-size:12px;
    color:#999;
    text-align:center;
    margin-right:10px;
}
.event .event-head{
    margin:0;
}
.event .event-actor{
    font-weight:bold;
}
.event .event-actor a{
    color:#000;
    text-decoration: none;
}
.event .event-actor a:hover{
    color:#4ea5ad;
}
.event .event-target a{
    color:#000;
    text-decoration: none;
}
.event .event-target a:hover{
    color:#4ea5ad;
}
.event .event-body{
    margin-top:5px;
    font-size:14px;
}
.event .event-body a{
    color:#555;
    text-decoration: none;
    word-wrap:break-word;
}
.event .event-body a:hover{
    color:#4ea5ad;
}
.team-event-list .event-more{
    display: block;
    width:200px;
    height:36px;
    margin:0 auto;
    text-align:center;
    line-height:36px;
    font-size:12px;
    background:#e0e5d4;
    border-radius:5px;
    text-decoration: none;
    color:#838a73;
}
.team-event-list .event-more.disabled{
    cursor:default;
}
/* page-team-members */
.group-list{
    overflow:hidden;
}
.group{
    border-top:1px solid #eee;
    margin:40px 0;
    position:relative;
}
.group.group-default{
    border:none;
    margin-top:0;
}
.group-head{
    position: absolute;
    top:-10px;
    left:0;
    z-index:5;
    background:#fff;
    padding:0 10px;
}
.group-name{
    font-size:18px;
    font-weight: bold;
    font-family: arial, sans-serif;
}
.group-edit{
    display: none;
    font-size:12px;
    color:#999;
}
.group-edit:hover{
    color: #5bc4c7;
}
.group-head:hover .group-edit{
    display: inline;
}
.member-list{
    overflow:hidden;
    padding:10px 5px;
}
.member{
    float:left;
    width:150px;
    height:58px;
    margin-bottom:10px;
}
.member a{
    display: block;
    overflow: hidden;
}
.member .avatar{
    float:left;
    width:42px;
    height:42px;
    border-radius:50%;
    margin:8px;
    box-shadow:0 2px 3px rgba(0,0,0,0.15);
    transition:box-shadow 200ms ease-in-out;
}
.member a:hover .avatar{
    box-shadow:0 2px 8px rgba(0,0,0,0.5);
}
.member .name{
    display: block;
    font-size:14px;
    color:#000;
    margin:12px 0 2px;
    padding-left:58px;
}
.member .add{
    display: block;
    font-size:14px;
    color:#9cb073;
    height:58px;
    line-height:58px;
    padding-left:58px;
}
.member .role{
    display: block;
    font-size:12px;
    color:#999;
    padding-left:58px;
}
.member.owner .role{
    color:#f68539;
}
.group-body .empty{
    display: none;
    text-align:center;
    margin:60px 0;
    color:#999;
}
.group-body.empty .member-list{
    display: none;
}
.group-body.empty .empty{
    display: block;
}
.group-new{
    margin-bottom:20px;
}
.group-new-link{
    padding-left:10px;
    color:#4ea5ad;
}
.group-new-link:hover{
    color:#5bc4c7;
}


/* icons and colors*/
.i1:before{ content:"A" }
.i2:before{ content:"B" }
.i3:before{ content:"C" }
.i4:before{ content:"D" }
.i5:before{ content:"E" }
.i6:before{ content:"F" }
.i7:before{ content:"G" }
.i8:before{ content:"H" }
.i9:before{ content:"I" }
.i10:before{ content:"J" }
.i11:before{ content:"K" }
.i12:before{ content:"L" }
.i13:before{ content:"M" }
.i14:before{ content:"N" }
.i15:before{ content:"O" }
.i16:before{ content:"P" }
.i17:before{ content:"Q" }
.i18:before{ content:"R" }
.i19:before{ content:"S" }
.i20:before{ content:"T" }
.i21:before{ content:"U" }
.i22:before{ content:"V" }
.i23:before{ content:"W" }
.i24:before{ content:"X" }
.i25:before{ content:"Y" }

.c1{color:#d8a196}
.c2{color:#c8bfa5}
.c3{color:#c8d7a5}
.c4{color:#afd8c7}
.c5{color:#8cb6c7}
.c6{color:#8fa6d1}
.c7{color:#dba8ba}
.c8{color:#b9c0c7}


/* new popover */
.popover{
    position:relative;
    display: inline;
}
.popover-btn{}
.popover-wrap{
    position:absolute;
    display: none;
    z-index:10;
}
.popover-arrow{
    margin:0 auto;
    position:relative;
    width:20px;
    height:10px;
}
.popover-wrap .arrow{
    position: absolute; width:0; height:0;
    border-right:10px solid transparent;
    border-left: 10px solid transparent;
}
.popover-wrap .arrow-border{
    border-bottom: 10px solid #dbdfd6;
}
.popover-wrap .arrow-basic{
    border-bottom: 10px solid #fff;
    top:1px;
}
.popover-content{
    background:#fff;
    border: 1px solid #dbdfd6 ;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    border-radius:6px;
}
/*popover-logo*/
.popover-logo{
    float:left;
}
.popover-logo .popover-wrap{
    top:30px;
    left:-30px;
}

.popover-logo-content{
    min-width:150px;
}
.popover-content ul{
    list-style: none;
    margin:10px 0;
    padding:0;
}
.popover-content li a{
    display: block;
    padding:0 20px;
    height:30px;
    line-height: 30px;
    text-decoration: none;
    color:black;
    font-size:14px;
}
.popover-content li a.small{
    font-size:12px;
    color:#999;
}
.popover-content li a:hover{
    color:#5bc4c7;
    background:#f6f6f6;
}
.popover-content li p{
    position:relative;
    display: block;
    padding:0 5px;
    margin:5px;
    color:#999;
    font-size:12px;
    z-index:1;
}
.popover-content li p:before{
    content: '';
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index:-1;
    border-top: 1px dotted #ddd;
}
.popover-content .part-line{
    height: 1px;
    width: 100%;
    margin: 6px 0 5px;
    border-top: 1px dotted #ddd;
}
/*popover-notify*/
.popover-notify .popover-wrap{
    top:20px;
    left:-280px;
}
.popover-notify .popover-arrow{
    margin-left:280px;
}
.popover-notify-content{
    width:400px;
}

.popover-notify-content .notify-header span{
    font-weight: bold;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    padding:0 10px;
}
.popover-notify-content .notify-icons{
    padding:0 10px;
}
.popover-notify-content .notify-icons a{
    margin:0 10px;
}
.popover-notify-content .notify-icons a:hover{
    color:#555;
}
.popover-notify-content .notify-body{
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    text-align: center;
    min-height:40px;
    font-size:14px;
    color:#aaa;
    line-height:40px;
}
.popover-notify-content .notify-icons{
    float:right;
}
.popover-notify-content .notify-all{
    display: block;
    text-align: center;
    font-size:12px;
    height:40px;
    line-height:40px;
    background:#f7f7f7;
    color:#4ea5ad;
}
.popover-notify-content .notify-all:hover{
    background:#f1f1f1;
    color:#5bc4c7;
}
/* popover-avatar */
.popover-avatar{
    margin-left:10px;
}
.popover-avatar .popover-wrap{
    width:120px;
    top:20px;
    left:-50px;
}



/*copy from tower*/
.header .twr {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
}
.twr {
    display: inline-block;
    font: normal normal normal 14px/1 'Tower';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.twr-caret-down:before {
    content: '\f004';
}
.twr-grid-view:before {
    content: '\f080';
}
.twr-list-view:before {
    content: '\f081';
}
.twr-search:before {
    content: '\f07f';
}
.twr-bell-o:before {
    content: '\f00d';
}
.twr-comments-o:before {
    content: '\f06c';
}
.twr-check:before {
    content: '\f003';
}
.twr-cog:before {
    content: '\f06b';
}
.twr-chevron-left:before {
    content: '\f040';
}
.twr-chevron-right:before {
    content: '\f041';
}
.twr-chevron-down:before {
    content: '\f019';
}
